// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./variables";

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";

// @import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/buttons";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

@font-face {
  font-family: $font-lemon;
  src: url("../static/fonts/Lemon-Regular.ttf");
}

.font-lemon {
  font-family: $font-lemon;
}

@font-face {
  font-family: $font-open;
  src: url("../static/fonts/OpenSans-Regular.ttf");
}

.font-open {
  font-family: $font-open;
}

body {
  font-family: $font-open;
  background-color: $deep;
  color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-lemon;
}

#navbar img {
  width: 80%;
  max-width: 800px;
}

#site-title {
  position: absolute;
  top: calc(20px + 4vw);
  left: 2vw;
  font-size: calc(1.5rem + 2vw);
  line-height: calc(1rem + 2vw);
  font-family: $font-lemon;
  color: $highbs;
  text-decoration: none;
}

footer {
  background-color: $psik;
}

#main.container {
  max-width: 800px;
  min-height: 100vh;
}

figure,
figure img {
  max-width: 100%;
}

.figure-caption {
  color: $psank;
  font-size: 1rem;
}

#page-header {
  padding-top: 25vh;
}
#thumbnail + #page-header {
  padding-top: 8vh;
}

#page-dates {
  display: flex;
  margin-bottom: 1.5rem;

  > div {
    background-color: $psik;
    color: $light;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.callout-block {
  background-color: $psik;
}

.blockquote {
  background-color: rgba($psik, 0.35);
}

.links-list,
.links-list-with-category {
  list-style: none;
  padding-left: 0;
}

.links-list-with-category {
  a {
    text-decoration: none;
  }
  span {
    &:first-child,
    &:nth-child(2) {
      padding: 0 0.5rem;
      border-radius: 1rem;
      margin-right: 0.6rem;
      font-size: 0.8rem;
    }
    &:first-child {
      background-color: $psik;
      color: $light;
    }
    &:nth-child(2) {
      background-color: $psank;
      color: $deep;
    }
    &:last-child {
      text-decoration: underline;
    }
  }
}

.calls-to-action > a {
  background-color: $psank;
  margin-right: 8px;
  margin-top: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  text-decoration: none;
  display: inline-block;
  color: $deep;
  &:first-child {
    background-color: $psik;
    color: $light;
  }
}
